Features to add 
- resume/cv upload
- more advanced search filter (location, industry, experience level, type)
- saved jobs functionalities
- a way to guarantee response
- application limits
- application expire time
- career resources
- alerts and notifications
- testimonials section
- rating and feedback features on companies
- interviews preparation tips
- training and certifications courses search, - web scrapping


- company verifications
- employee branding showcase
- chat system
- admin pannel
- 