JOB WOULD HAVE A STUDENT PROPERTY. 
STUDENT PROPERTY HOLDS AN ARRAY OF DICTIONARIES
EACH HOLDING THE STUDENT ID, COVERTEXT(REASON TO HIRE), TIME APPLIED(PROBABLY FROM TIME STAMPS)

STUDENT MODEL WOULD HAVE A JOB SECTION
JOB SECTION HOLDS JOB ID , STATUS (PENDING, REVIEWED), JOBS APPLIED FOR